<div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="successMessage" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notes for Article <span id="article-id"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <ul class="list-group list-group-flush articles-available">
                    </ul>
                </div>
                <br>
                <div class="form-group">
                    <label for="note-input" class="sr-only">Enter Note Here</label>
                    <textarea class="form-control" id="note-input" rows="3" placeholder="New Note"></textarea>
                </div>
                <div class="container">
                    <div class="row">
                        {{#each articles}}
                        {{#if saved}}
                        <div class="col-sm-12" id="notes">

                            <p>{{this.note}}</p>
                            <button class="btn btn-primary" id="removeNote">X</button>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="save-note">Save Note</button>
            </div>
        </div>
    </div>
</div>