<br>
<br>
<div class=" container-fluid">
    <div class="text-center">
        <div class=" overlay">
            <div class="caption">
                <h1 class="display-1 text-black" id="scraperTitle">
                    <img src="../assets/images/npr logo.png" width="200" height="75">
                    scraper</h1>
                <br>
                <br>
            </div>
        </div>
        <div class=row>
            <div class="col-12">
                {{#if articles}}
                {{#each articles}}
                {{#unless saved}}
                <div class="card w-90">
                    <div class="card-header text-white" style=" background-color: #1d7cbf; font-family: 'Trebuchet MS'">
                        <a href={{this.link}} target="_blank" class="text-white">
                            <h5>{{this.title}}</h5>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{this.teaser}}
                        </p>
                        <button data-id="{{_id}}" type="submit" class="btn save-btn text-white"
                            style="background-color: #d71a1c; font-family: 'Trebuchet MS'">save
                            article</button>
                    </div>
                </div>
                <br>
                {{/unless}}
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>