<br>
<br>
<div class=" container-fluid">
    <div class="text-center">
        <div class=" overlay">
            <div class="caption">
                <h1 class="display-1 text-black" id="scraperTitle">
                    <img src="../assets/images/npr logo.png" width="200" height="75">
                    scraper</h1>
                <br>
                <br>
            </div>
        </div>
        <div class=row>
            <div class="col-12">
                <div class="card w-90">
                    <div class="card-header text-white" style=" background-color: #1d7cbf; font-family: 'Trebuchet MS'">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <div class="message">
                            <h2>{{message}}</h2>
                        </div>
                        </p>
                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>