.wrapper {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;
    background-image: url("../images/newspaper-stack.jpg");
    background-size: 1700px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

#scraperTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -.7px -.7px 0 
    #ececec, .7px -.7px 0 
    #ececec, -.7px .7px 0 
    #ececec, .7px .7px 0 
    #ececec;
}
.message {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-fluid {
    background-color: transparent;
}
@media (min-width: 1px) {
    .display-1 {
        font-size: 4rem
    }
}

@media (min-width: 576px) {
    .display-1{
        font-size: 5rem
    }
    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .display-1 {
        font-size: 6rem
    }
    
}
